
.accordion-background {
    background-color: pink; 
  }

.accordion-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto; 
  width: 900px; 
  background-color: pink; 
  padding: 60px; 
}

  
  .accordion {
    background-color: whitesmoke; 
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    border: 2px solid rgba(0, 0, 0, 0.5); 
    border-radius: 15px; 
  }
  
  .active, .accordion:hover {
    background-color: lightgray; 
  }
  
  .panel {
    padding: 0 18px;
    background-color: lightgray;
    display: none;
    overflow: hidden;
  }

  .button-container {
    margin: 0.5rem 0; 
    text-align: center;
    padding-bottom: 170px;

  }
  
  .button-container .btn {
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid black;
    background: rgb(92, 13, 92);
    padding: 0.7rem;
    color: white;
    a {
      text-align: center;
    }
  }
  
  .button-container .btn:hover {
    cursor: pointer;
  }
  