<div class="home">
  <div class="social-icons">
    <a href="mailto:safia.ahmed@uwaterloo.ca" target="_blank" class="social-icon">
      <img src="assets/envelope-solid.svg" alt="Mail">
    </a>
    <a href="https://github.com/safiaxa" target="_blank" class="social-icon">
      <img src="assets/github.svg" alt="Github">
    </a>
    <a href="https://devpost.com/safia-ahmed51" target="_blank" class="d">
      <img src="assets/devpost-icon.svg" alt="Devpost">
    </a>
    <a href="https://ca.linkedin.com/in/safiaxa" target="_blank" class="social-icon">
      <img src="assets/linkedin.svg" alt="LinkedIn">
    </a>
  </div>

  <div class="content">
    <div class="heading">
      <h1 class="display-2">Hi. I'm Safia.</h1>
      <h1 class="display-2" id="typed-text">{{ typedText }}</h1>
    </div>
    <p class="intro">
      Welcome to my website portfolio. I'm a third-year Computer Engineering Student @ UW interested in front end development! This website is built in Angular using TypeScript - here you'll find my past projects, resume, work experience, contact info, and more.
    </p>
    <div class="button-container">
      <a class="btn" href="assets/Safia_Resume.pdf" download="resume">Download Resume</a>
    </div>
  </div>
</div>
