
<div class = home>
    <div class="heading">
      <h1 class="display-2">Hi. I'm Safia.</h1>
        <h1 class = "display-2" id="typed-text">{{ typedText }}</h1>
    </div>
    <p class="intro">
        Welcome to my website portfolio. I'm a third-year Computer Engineering Student @ UW interested in front end development! 
        This website is built in Angular using TypeScript - here you'll find my past projects, resume, work experience, contact info and more.
    </p>
    <div class="button-container">
      <a class="btn" href="assets/Safia_Resume.pdf" download="resume">Download Resume</a>
    </div>
</div>

